.Card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Roboto', 'Courier New', Courier, monospace;

}

.search{
    width: 100%;
    display: flex;
    justify-content: center;
}
